AWS_REGION=us-east-1

BEDROCK_EMBED_MODEL= amazon.titan-embed-text-v2:0

BEDROCK_LLM_MODEL = anthropic.claude-3-haiku-20240307-v1:0


CHUNK_SIZE=800
CHUNK_OVERLAP=200

CONNECT_TIMEOUT=30
READ_TIMEOUT=60

DOCUMENT_PATH=C:\rag_system\documents
